body {
    padding-top: 56px;
}

.navbar {
    background-color: rgb(228, 175, 78);
}

.nav-link-item {
    cursor: pointer;
    padding: 10px;
    transition: transform 0.5s ease;
}

/* .nav-link-item:hover {
    color: white;
    background-color: #28a745;
    transform: scale(0.9);
    border-radius: 30px;
} */

.navbar-nav .dropdown-menu {
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 1000;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 991px) {
    .navbar {
        background-color: lightgrey !important;
    }
}