{{ define "checkpoints" }}
    <link rel="stylesheet" href="/static/sacco.css">
    <link rel="stylesheet" href="/static/footer.css">
    
    <!-- Search suggestions container -->
    <div id="searchSuggestions" class="suggestion-list"></div>

    <!-- Details container -->
    <div id="detailsContainer"></div>
    
    <div class="container">
        <div class="container text-center">
            <h1 class="mt-5 mb-4">Checkpoints</h1>
        
            <!-- Button to open add checkpoint modal -->
            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#addCheckpointModal">Add Checkpoint</button>
        </div>
        
        
        <!-- Add checkpoint modal -->
        <div class="modal fade" id="addCheckpointModal" tabindex="-1" role="dialog" aria-labelledby="addCheckpointModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCheckpointModalLabel">Add Checkpoint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for adding new checkpoint -->
                        <form action="/add-checkpoint" method="POST">
                            <div class="form-group">
                                <label for="checkpointName">Checkpoint Name:</label>
                                <input type="text" class="form-control" id="checkpointName" name="checkpointName" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Checkpoint</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <!-- Display existing checkpoints -->
    <div class="container text-center col-md-3 card mb-3 card-body">
        <ul class="list-group d-inline-block">
            <div>
                {{ range .Checkpoints }}
                    <li class="list-group-item">{{ .CheckpointName }}</li>
                {{ end }}
            </div>
        </ul>
    </div>
    
    <!-- Bootstrap JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/static/logout_timer.js"></script>
    <script src="/static/search.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize Bootstrap dropdowns
            $('.dropdown-toggle').dropdown();

            // Function to hide home details table
            function hideHomeDetailsTable() {
                $(".table").hide();
                $("h1").hide();
            }

            // Function to show home details table
            function showHomeDetailsTable() {
                $(".table").show();
                $("h1").show();
            }

            // Event listener for search input to hide home details
            $('#searchInput').on('input', function () {
                var query = $(this).val().trim();
                if (query.length > 0) {
                    // Hide details table when search is performed
                    hideHomeDetailsTable();
                } else {
                    // Show details table when search input is empty
                    showHomeDetailsTable();
                }
            });
        });
    </script>
    {{ template "footer" }}
{{ end }}
