<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/images/bus.ico" type="image/x-icon">
</head>
<body class="login-body">
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required placeholder="Username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required placeholder="Password">
            <br>
            <input type="submit" value="Login" style="cursor: pointer; background-color: rgb(8, 240, 39);">
            <p>Don't have an account yet? <a href="/signup">Sign Up</a></p>
            {{ if .FlashMessage }}
                <p style="color: red;">{{ .FlashMessage }}</p>
            {{ end }}
        </form>
    </div>

    <!-- <script src="/static/js/logout_timer.js"></script> -->
</body>
</html>